*.log
Dungeons/Saved/Logs/Dungeons.log
Dungeons/Saved/Logs/Dungeons.log
Characters/Enemies/*.fbx
Dungeons/Content/Weapon_Pack/*
*.log
Dungeons/Content/Weapons_Kit_BuiltData.uasset
Dungeons/Content/InfinityBladeWeapons/*
**Charaters
Charaters/Brawler/*.fbx
Charaters/Mage/*.fbx
Charaters/Healer/*.fbx
Charaters/Marksman/*.fbx
**SandBox
