*.log
Dungeons/Saved/Logs/Dungeons.log
Dungeons/Saved/Logs/Dungeons.log
Characters/Enemies/*.fbx
Dungeons/Content/Weapon_Pack/*
*.log
Dungeons/Content/Weapons_Kit_BuiltData.uasset
Dungeons/Content/InfinityBladeWeapons/*
**Charaters
Charaters/Brawler/*.fbx
Charaters/Mage/*.fbx
Charaters/Healer/*.fbx
Charaters/Marksman/*.fbx
**SandBox
**Characters
Dungeons/Saved/Crashes/UE4CC-Windows-EB6076E74AC5E5232BF63092388EE1C8_0001/CrashContext.runtime-xml
Dungeons/Saved/Crashes/UE4CC-Windows-EB6076E74AC5E5232BF63092388EE1C8_0001/CrashReportClient.ini
