Characters/*.fbx
Characters/Brawler/*.fbx
Characters/Healer/*.fbx
*.log
Dungeons/Saved/Logs/Dungeons.log
Dungeons/Saved/Logs/Dungeons.log
Characters/Enemies/*.fbx
Dungeons/Content/Weapon_Pack/*
*.log
Dungeons/Content/Weapons_Kit_BuiltData.uasset
